@font-face {
    font-family: 'space_age';
    src: url('fonts/space_age-webfont.woff2') format('woff2'),
         url('fonts/space_age-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'oldnewspaper';
    src: url('fonts/oldnewspapertypes-webfont.woff2') format('woff2'),
         url('fonts/oldnewspapertypes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





body{

	background:linear-gradient(#000000,30%,#000000);
	min-height:100vh;
	color:white;
	font-family:oldnewspaper;
    border-right:1px solid white;
	border-left:1px solid white;
	background-image:url('stars.jpg');
	background-attachment:fixed;
	text-shadow: 2px 1px 5px #024101;

}


main{
	overflow:auto;
	
}

header{
	font-family:oldnewspaper;
	font-size:3em;
	text-align:bottom;
	text-shadow:4px 6px 16px #c4c3c1;

	border-bottom:1px solid white;
	border-radius:10px;
	position:sticky;
	top:0px;	
	background:linear-gradient(to bottom,#000000 50%, #383837);
	padding:2rem;
	color:white;
	background-image:url('stars.jpg');
	
}

h3{
	text-decoration:underline;
	font-family:oldnewspaper;
	font-size:1.3em;
  	text-align:center;
	color:white;
	
}


.apod{
	border-tofp:1px solid white; 
	border-bottom:1px solid white; 
	border-radius:15px;
	font-size:1.2em;
	color:white;
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr;	
	
	article {
		text-align:center;
		padding:10px;	
		border-radius:15px;
	}
	
	
}

.apod-image{
	padding:30px;		

	img{
		width:100%;
		border-bottom:1px solid white;
		border-radius:15px; 
		border-top:1px solid white;

	}
}

@media screen and (max-width:800px){

	.apod{
		grid-template-columns:1fr;
		grid-template-rows:1fr 1fr;
	}

}





#main-container{

    display:grid;
    grid-template-rows:minmax(70vh,1fr);    


}



#main-container > div:nth-of-type(2){
	flex:3;
}



#content-container{

    display:flex;
    flex-flow:column wrap;
    padding:2px;
    max-height:100%;
    

}

#content-container > div{

flex:1;


}

#main-image{

	max-width:50%;
	justify-content:center;

	img{
		object-fit:contain;

		max-width:100%;
	}	
    
}

#image-gallery{
    border:solid whiete 2px;
    overflow:auto;
    display:flex;
    flex-flow:row wrap;
    gfrid-template-columns:repeat(auto-fill,minmax(350px,1fr));
    grfid-auto-rows:minmax(auto,1fr);  
    gap:10px;
    

}
.image-container{
	border-top:1px solid white;
	border-bottom:1px solid white;
	border-radius:10px;
	flex:350px;
	display:flex;
	flex-flow:column wrap;
	justify-content:center;
	overfllow:auto;
	
	img{
		object-fit:cover;
		border-top:3px solid white;
		max-width:100%;
		border-radius:20px;
		border-bottom:4px solid white;
	
	}
	figcaption{
		text-shadow: 2px 1px 5px #024101;
		font-size:1em;
		text-align:center;
		padding:5px;
	}
	a{
		justify-self:flex-end;
		display:block;
		
		padding:10px;
		text-align:center;
		text-decoration:none;
		color:white;
		justify-self:end;
	}
}
.image-container a:hover{

	text-decoration:underline;
	outline:#19db03 solid 2px;
	font-size:1.1em;
}


footer{

	border-top: 1px solid white;
	border-radius:20px;	
	font-size:1em;
	text-align:center;
	padding:1.5rem;
	

}




